    자료에 대한 타입 : 숫자, 문자열, 불

    어떤 값을 담는 자료구조 : 변수, 리스트, 튜플, 딕셔너리, 집합

In [4]:
# 변수  =     오른쪽에 있는 값을 왼쪽에 넣는다

In [6]:
# 숫자
a = 1 
print(a), type(a)

1

(None, int)

In [7]:
# 터미널 끄고 자료구조 부분

In [12]:
a = "I ate %s apples. so I was sick for %s days." % (1.2, 'day')
a

'I ate 1.2 apples. so I was sick for day days.'

In [13]:
name = 'int'
a =

SyntaxError: invalid syntax (<ipython-input-13-9f56f122233e>, line 2)

In [15]:
a , b, c = (80, 75, 55)
# 80, 75, 55 = [a,b,c]

In [16]:
a

80

In [17]:
b

75

In [18]:
c

55

In [19]:
(a + b + c) / 3

70.0

In [27]:
if (13 % 2 == 1):
    print('홀')

홀

In [32]:
ID = '881120-1068234'

In [34]:
ID[7:]

'1068234'

In [36]:
a = 'a:b:c:d'
a.replace(':', '#')

'a#b#c#d'

In [43]:
a = [1,3,5,4,2]

In [48]:
a.sort(reverse=False)
a

[1, 2, 3, 4, 5]

In [52]:
a = ['life', 'is', 'too', 'short']
" ".join(a)

'life is too short'

In [53]:
a = dict()
a

{}

In [61]:
# a['name'] = 'python'
# a[('a',)] = 'python'
# a[[1]] = 'python'
a[250] = 'python'

In [62]:
a

{'name': 'python', 'a': 'python', ('a',): 'python', 250: 'python'}

In [68]:
>>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a

[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [69]:
set(a)
list(set(a))

[1, 2, 3, 4, 5]

In [65]:
>>> a = b = [1, 2, 3]
>>> a[1] = 4
>>> print(b)

[1, 4, 3]